* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif; /* Set Roboto as default font */
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 16px;
}

.text-grey {
    color:  #6C7275; /* Gray text color for some text blocks */
  }

